.img{
    height: 200px;
    width: 200px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

h3{
    color: blue;
}

p{
    font-size: 12px;
    color: black;
}
