body{
    margin: 0;
    padding: 0;
    background: black;
}

.logo{
    height: 200px;
    width: 300px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.principal{
    color: #fff;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

.final{
    color: rgb(22, 201, 224);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}